{% extends "base.html"%}

{% block title %}文本问答{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <label>文本问答</label>
                <br>
                <textarea id="text" class='form-control' placeholder='在此输入文本'></textarea>
                <textarea id="question" class='form-control' placeholder='在此输入问题'></textarea>
                <button id= "compute" class="btn btn-dark" style="width: 6rem" type="button" onclick="compute(this, '#text', '#question')">计算</button>

                <div id="result"></div>

            </div>

        </div>
    </div>

{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}
<script>
    function compute(btn, text, question) {
        // 计算按钮先变成加载状态
        var compute_button = $(btn)
        compute_button.prop("disabled", true)
        compute_button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="sr-only">Loading...</span>')

        // 清空结果div
        $('#result').empty()

        // ajax 请求数据
        var text = $(text).val()
        var question = $(question).val()
        $.post("{{ url_for('nlp.QuestionAnswering') }}", {'context':text, 'question':question}, function (data) {
            // 回复计算按钮
            compute_button.prop("disabled", false)
            compute_button.html("计算")

            // 显示结果
            {#console.log(data)#}
            var timecosthtml = "<p>计算时长：" + data["time_cost"] + "</p>"
            var ans = data["ans"]
            $(result).html(timecosthtml + ans)
        }, "json")
    }

</script>
{% endblock %}