{% extends "base.html"%}

{% block title %}文本分类{% endblock %}

{% block main %}
    <div class="container">
        {# 预测 #}
        <div class="row">
            <div class="col">
                <label>文本分类</label>
                <br>
                <textarea id="text" class='form-control' placeholder='在此输入文本'></textarea>
                <button id= "compute" class="btn btn-dark" style="width: 6rem" type="button" onclick="compute(this, '#text')">计算</button>

                <div id="result"></div>

            </div>
        </div>

        {# 训练 #}
        <label>训练器</label>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file">
            <br>
            <button id= "compute" class="btn btn-dark" style="width: 6rem" type="button">训练</button>
        </form>

        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <canvas id="myChart" width="50" height="50"></canvas>
    </div>

{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

<script>
    function compute(btn, text) {
        // 计算按钮先变成加载状态
        var compute_button = $(btn)
        compute_button.prop("disabled", true)
        compute_button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="sr-only">Loading...</span>')

        // 清空结果div
        $('#result').empty()

        // ajax 请求数据
        var text = $(text).val()
        $.post("{{ url_for('nlp.TextClassification') }}", {'context':text}, function (data) {
            // 回复计算按钮
            compute_button.prop("disabled", false)
            compute_button.html("计算")

            // 显示结果
            {#console.log(data)#}
            var timecosthtml = "<p>计算时长：" + data["time_cost"] + "</p>"
            var ans = data["ans"]
            $(result).html(timecosthtml + ans)
        }, "json")
    }

    // 定时器日志进度条
    var time;
    function progressLog() {
        clearTimeout(time);

        // 重复执行定时器
        time = setInterval(function () {
            $.get('')
        }, 1000)  // 1s执行一次

    }

    {# 训练结果图 #}
    var ctx = $("#myChart");
    const X = ['一月份', '二月份', '三月份','四月份', '五月份', '六月份', '七月份'];  // 设置 X 轴上对应的标签
    const Y = [65, 59, 80, 81, 56, 55, 40]
    const data = {
      labels: X,
      datasets: [{
        label: 'loss',
        data: Y,
        fill: false,  // 折线以下的背景颜色
        borderColor: 'rgb(75, 192, 192)', // 设置线的颜色
        tension: 0.1,  // 拐点处曲率
      }]
    };
    const config = {
      type: 'line', // 设置图表类型
      data: data,
    };
    const myChart = new Chart(ctx, config);


</script>
{% endblock %}