{% extends "base.html"%}

{% block title %}文本分类{% endblock %}

{% block main %}
    <div class="container">
        {# 预测 #}
        <div class="row">
            <div class="col">
                <label>文本分类</label>
                <br>
                <textarea id="text" class='form-control' placeholder='在此输入文本'></textarea>
                <button id= "compute" class="btn btn-dark" style="width: 6rem" type="button" onclick="compute(this, '#text')">计算</button>

                <div id="result"></div>

            </div>
        </div>
    </div>

{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>

<script>
    function compute(btn, text) {
        // 计算按钮先变成加载状态
        var compute_button = $(btn)
        compute_button.prop("disabled", true)
        compute_button.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="sr-only">Loading...</span>')

        // 清空结果div
        $('#result').empty()

        // ajax 请求数据
        var text = $(text).val()
        $.post("{{ url_for('nlp.TextClassification') }}", {'context':text}, function (data) {
            // 恢复计算按钮
            compute_button.prop("disabled", false)
            compute_button.html("计算")

            // 显示结果
            {#console.log(data)#}
            var timecosthtml = "<p>计算时长：" + data["time_cost"] + "</p>"
            var ans = data["ans"]
            $('#result').html(timecosthtml + ans)
        }, "json")
    }
</script>
{% endblock %}