{% extends "base.html" %}

{% block title %}权限修改{% endblock %}


{% block main %}

    <div id="auth">
        <b>{{ page_num }}</b>
        <form action="{{ url_for('auth.auth_edit', id=id, page=page) }}" method="post">

        <p>{{ form.confirmed.label }}{{ form.confirmed }}</p>
        {% for message in form.confirmed.errors %}
                <small class="error">{{ message }}</small><br>
        {% endfor %}

        <p>{{ form.role.label }}{{ form.role }}</p>
            {% for message in form.role.errors %}
                <small class="error">{{ message }}</small><br>
            {% endfor %}
        <p>{{ form.submit }}{{ form.csrf_token }}</p>

        </form>

        <a href="{{ url_for('auth.auth_list', page=page) }}">返回权限列表</a>

    </div>


{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}

{% endblock %}