{% extends "base.html" %}
{% import "ui/list_page.html" as pg%}

{% block title %}文章标签列表{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .info{
            color: deepskyblue;
        }
        .warning{
            color: orange;
        }
        .error{
            color: red;
        }
    </style>
{% endblock %}

{% block main %}

    <div>
        <h3 style="color:red">role_list</h3>
            {% with msgs = get_flashed_messages(with_categories=True) %}
              {% if msgs %}
                  <ul>
                      {% for category, msg in msgs %}
                          <li class="{{ category }}" >{{ msg }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
            {% endwith %}
        <table>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>添加时间</th>
                <th>操作事项</th>
            </tr>
            {% for v in tag_page.items %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.tag_name }}</td>
                <td>{{ v.addtime }}</td>
                <td>
                    <a href="{{ url_for('auth.tag_add', tag_id=v.id, edit=1) }}">编辑</a>
                    <a href="{{ url_for('auth.tag_del', tag_id=v.id) }}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {{ pg.page(tag_page, "auth.tag_list") }}
    </div>


{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}

{% endblock %}