{% extends "base.html"%}

{% block title %}文章列表{% endblock %}


{% block main %}

    {% with msgs = get_flashed_messages(with_categories=True) %}
      {% if msgs %}
          <ul>
              {% for category, msg in msgs %}
                  <li class="{{ category }}" >{{ msg }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}


    <div id="article_list">
        {% if articles %}
            <h3>{{ articles[0].tag.tag_name }}</h3>
        {% endif %}
        <table>
{#            <tr>#}
{#                <th>编号</th>#}
{#                <th>文章名</th>#}
{#                <th>标签</th>#}
{#                <th>星级</th>#}
{#                <th>阅读量</th>#}
{#                <th>作者</th>#}
{#                <th>评论数量</th>#}
{#                <th>上映时间</th>#}
{#                <th>操作事项</th>#}
{#            </tr>#}
            {% for v in articles %}
            <tr>
{#                <td>{{ v.id }}</td>#}
                <td>
                    <a class="text-success" href="{{ url_for("article.article_page", tag_name_en=v.tag.tag_name_en, article_id=v.id) }}">{{ v.title }}</a>
                </td>
{#                <td>{{ v.tag.tag_name }}</td>#}
{#                <td>{{ v.star }}</td>#}
{#                <td>{{ v.read_num }}</td>#}
{#                <td>{{ v.user.name }}</td>#}
{#                <td>{{ v.comment_num }}</td>#}
{#                <td>{{ v.addtime }}</td>#}

                {# 管理员能编辑修改 #}
                {% if current_user.can(Permission.ADMIN) %}
                <td>
                    <a href="{{ url_for('article.article_add', article_id=v.id, edit=1) }}">编辑</a>
                    <a href="{{ url_for('article.article_del', article_id=v.id, tag_name_en=v.tag.tag_name_en) }}">删除</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}

{% endblock %}