{% extends "base.html"%}
{% import "ui/list_page.html" as pg%}
{% block title %}评论列表{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .info{
            color: deepskyblue;
        }
        .warning{
            color: orange;
        }
        .error{
            color: red;
        }

        ul.comments {
            list-style-type: none;
            padding: 0px;
            margin: 16px 0px 0px 0px;
        }
        ul.comments li.comment {
            margin-left: 32px;
            padding: 8px;
            border-bottom: 1px solid #e0e0e0;
        }
        ul.comments li.comment:nth-child(1) {
            border-top: 1px solid #e0e0e0;
        }
        ul.comments li.comment:hover {
            background-color: #f0f0f0;
        }
        div.comment-date {
            float: right;
        }
        div.comment-author {
            font-weight: bold;
        }
        div.comment-thumbnail {
            position: absolute;
        }
        div.comment-content {
            margin-left: 48px;
            min-height: 48px;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="page-header">
        <h1>Comment Moderation</h1>
    </div>
    {# 定义一个 moderate 变量，被 _comments.html 调用 #}
    {% set moderate = True %}
    {% include 'ui/_comments.html' %}
    {{ pg.page(pagination, 'article.comment_list') }}
{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}
{% endblock %}