{% extends "base.html"%}

{% block title %}会员中心{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .profile-thumbnail {
            position: absolute;
        }

        ul.blogs {
            list-style-type: none;{# 设置列表项标记的类型 #}
            padding: 0px;
            margin: 16px 0px 0px 0px;
            border-top: 1px solid #e0e0e0;
        }

        ul.blogs li.blog {
            padding: 8px;
            border-bottom: 1px solid #e0e0e0;
        }

        {# 鼠标以上去背景变色 #}
        ul.blogs li.blog:hover {
            background-color: #f0f0f0;
        }

        div.blog-date {float: right;}
        div.blog-user {font-weight: bold;}

        div.blog-content {
            margin-left: 48px;
            min-height: 48px;
        }

    </style>
{% endblock %}

{% block main %}

    <div id="role">
        <p>用户名: {{ user.name }}</p>
        <img src=" {% if user.face %} {{ url_for('static', filename=user.face) }} {% else %} {{ url_for('static', filename='/upload/defaultAvator.jpg') }} {% endif %}" width="40px" height="40px" alt="头像加载失败">

        {# 关注 #}
        <p>
            {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('user.follow', uid=user.id) }}" class="btn btn-primary">Follow</a>
                {% else %}
                    <a href="{{ url_for('user.unfollow', uid=user.id) }}" class="btn btn-default">Unfollow</a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('user.followers', uid=user.id) }}">
                Followers: <span class="badge">{{ user.followers.count() }}</span>  {# user.followers 返回列表 #}
            </a>
            <a href="{{ url_for('user.followed_by', uid=user.id) }}">
                Following: <span class="badge">{{ user.followed.count() }}</span>
            </a>
            {# 登录后 current_user.is_authenticated 会返回 True #}
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                | <span class="label label-default">Follows you</span>
            {% endif %}
        </p>

        <p>注册时间 {{ moment(user.addtime).format('MMMM Do YYYY, h:mm:ss a') }}.</p>
        <p>最近访问时间 {{ moment(user.last_seen).fromNow(refresh=True) }}</p>
        <p>The local date and time is {{ moment(current_time).format('MMMM Do YYYY, h:mm:ss a') }}.</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    </div>

    {% if blogs %}
        <b>您发布的Blog有：</b>
        {% include 'ui/_blogs.html' %}
    {% endif %}

{% endblock %}


<!--js脚本-->
{% block scripts %}
{{ super() }}

{% endblock %}